[Unit]
Description=Consul agent
After=network.target
Before=monit.service

[Service]
Type=simple
User=consul
PermissionsStartOnly=yes
Environment=CONFIG_DIR=/etc/consul/xivo
Environment=WAIT_FOR_LEADER=yes
ExecStartPre=/usr/bin/install -d -o consul -g consul /var/run/consul
ExecStart=/usr/bin/consul agent -config-dir ${CONFIG_DIR} -pid-file /var/run/consul/consul.pid
ExecStartPost=/usr/bin/consul-wait-leader
ExecStop=/usr/bin/consul leave
PIDFile=/var/run/consul/consul.pid

[Install]
WantedBy=multi-user.target
