Source: xivo-consul-packaging
Section: net
Priority: optional
Maintainer: XiVO Dev Team <dev@avencall.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), unzip, wget
Standards-Version: 3.9.6

Package: consul
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, awk, curl
Description: Tool for discovering and configuring services
 Consul has multiple components, but as a whole, it is a tool for discovering and
 configuring services in your infrastructure. It provides several key features,
 service discovery, health checking, key/value store and multi datacenter.
 .
