Source: xivo-consul-packaging
Maintainer: XiVO Dev Team <dev@avencall.com>
Build-Depends: unzip, wget

Package: consul
Architecture: i386
Description: Consul is a tool for discovering and configuring services in your infrastructure.
