Source: wazo-consul-config
Section: net
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), unzip, wget, curl
Standards-Version: 3.9.6

Package: wazo-consul-config
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, curl, consul, init-system-helpers (>= 1.34)
Description: Consul configuration for Wazo Platform
 This is the Consul configuration for Wazo Platform
 .
