#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


ARCH = $(shell dpkg-architecture -q DEB_BUILD_ARCH)
ifeq (${ARCH},i386)
    ARCH=386
endif
ifeq (${ARCH},armhf)
    ARCH=arm
endif
FILENAME=consul_${VERSION}_linux_${ARCH}.zip

PKG = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VERSION ?= $(shell cat VERSION)
TMP_DIR := $(shell mktemp -d)

URL_DOWNLOAD = "https://releases.hashicorp.com/consul/${VERSION}/${FILENAME}"

%:
	dh $@ --with systemd


.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(URL_DOWNLOAD) -O ../$(PKG)_$(VERSION).zip
	unzip ../$(PKG)_$(VERSION).zip -d $(TMP_DIR)
	cp -r bin/* $(TMP_DIR)/
	tar czf ../$(PKG)_$(VERSION).orig.tar.gz -C $(TMP_DIR) .
